


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(225, 58, 58)
 
}


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: bisque;
}



/* Set the apperance of the class, chart */
.chart{
    background-color: orange;
    width:330px;
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: red;

    
}
#link3{
    background-color: #f9b700;

    padding:10px;
    
    border:2px;
    border-color:#000000;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Chivo', sans-serif;
    font-weight:700;
    color:#0f07f7;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    
}

#link3:hover{

    background-color: #ece220;

    border:2px;
    border-color:#5A5A5A;
    border-style: solid;}
    h1, h2, h3, p{
        color:rgb(0, 0, 0);
        font-family: 'Chivo', sans-serif;
        text-align: center;
    }
