/* This is the design for my project page */
/* Background design */ 
body{ 
    background-color: #e45763;
    margin: auto;
    overflow: scroll;
    max-width: 1000px;
    text-align:center; 
    vertical-align:middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}

/* BUTTONS */

.link{
  background-color: white;

  padding:10px;
  
  border:2px;
  border-color:#000000;
  border-style: solid;
  border-radius: 10px;

  font-family:  'Chivo', sans-serif; 
  font-weight:700;
  color:#e45763;
  text-decoration: none;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  border: 1px;
  border-color: black;
  border-style: solid;
  margin: auto;
}

.link:hover{

  background-color: #359ff0;
  padding: 11px;
  color: white;

  border:2px;
  border-color:black;
  border-style: solid;
  
}

.smallbutton{
  background-color: white;
  border: none;
  padding: 5px 15px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #4484CE;
  border-radius: 5px;
  width: 100px;
  margin: 10px 10px 20px 10px;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  cursor: pointer;
  transition: background-color 1s ease;
}

.smallbutton:hover{
  background-color: transparent;
  border-color: transparent;
}

.buttoncontainer{
  text-align: center;
  align-items: flex-start;
  display: inline-block;
  width: 1000px;
  margin: 0px 0px 20px 0px;
}    

/* FONTS */

.topnav a.active {
  background-color: #4484CE;
  color: white;
}

.container{
    background-color: white;
    text-align: center;
} 

.containergraph{
    background-color: wheat;
    justify-content: center;
}

p{
    color:white;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

h1{
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 50px;
}

h2{
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

h3{
    color: white;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.title{
    background-color: transparent;
    text-align: center;
    margin: 20px 0px;
}

.bigtitle{
    background-color: transparent;
    text-align: center;
    margin: 20px 0px 40px 0px;
}


/*charts*/

.chart1{
  background-color: white;
  width: 800px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart2{
  background-color: white;
  width: 700px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart3{
  background-color: white;
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart4{
  background-color: white;
  width: 700px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart5{
  background-color: white;
  width: 700px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart6{
  background-color: white;
  width: 700px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}

.chart7{
  background-color: white;
  width: 600px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  border-color: darkblue;
  text-align: center;
  display: block; 
  margin: 0 auto;

}
